<ion-view title="{{sensor.title}}">
    <ion-content class="has-header">
        <div class="row">
            <div class="col">
                <div class="dark" style="text-align: center; font-size: 40px">
                    <i class="balanced icon ion-arrow-graph-up-left"></i>
                    24.5 &deg
                </div>
            </div>
        </div>
    </ion-content>
    <div href="#" class="bar bar-footer bar-balanced">
        <div class="title">
            <i class="icon ion-ios7-alarm-outline"></i>
            Set alarm
        </div>
    </div>
</ion-view>
